/* Estilos Generales */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background-color: #f4f4f4;
    color: #333;
    line-height: 1.6;
}

/* Contenedor Principal */
.container {
    display: flex;
    flex-direction: row;
}

/* Columna Izquierda */
.sidebar {
    width: 25%;
    background-color: #fff;
    padding: 20px;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
}

.sidebar h1 {
    margin-bottom: 10px;
    font-size: 24px;
}

.sidebar p {
    margin-bottom: 10px;
}

.sidebar .about {
    margin-top: 20px;
}

.sidebar .about h3 {
    font-size: 18px;
    margin-bottom: 10px;
}

.sidebar .about p {
    font-size: 14px;
    color: #555;
}

/* Columna de Proyectos */
.projects {
    width: 75%;
    padding: 20px;
}

.projects h2 {
    text-align: center;
    margin-bottom: 30px;
    font-size: 28px;
    color: #333;
}

/* Proyecto - Estilo de cada tarjeta */
.project {
    display: flex;
    background-color: #fff;
    margin-bottom: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    overflow: hidden; /* Evita que la imagen sobresalga */
}

/* Contenedor de la imagen */
.project-image {
    display: flex;
    justify-content: center; /* Centra la imagen horizontalmente */
    align-items: center; /* Centra la imagen verticalmente */
    width: 40%;
    height: 300px; /* Ajusta la altura del contenedor de la imagen */
    overflow: hidden; /* Evita que la imagen se desborde */
}

.project-image img {
    width: 100%; /* Ajusta el tamaño de la imagen al 100% del contenedor */
    height: auto; /* Mantiene la proporción de la imagen */
    object-fit: contain; /* Ajusta la imagen para que no se recorte */
}

.project-details {
    width: 60%;
    padding: 20px;
}

.project-details h3 {
    font-size: 22px;
    margin-bottom: 10px;
}

.project-details p {
    margin-bottom: 10px;
    font-size: 14px;
}

.project-details .btn {
    display: inline-block;
    padding: 10px 20px;
    background-color: #007BFF;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.project-details .btn:hover {
    background-color: #0056b3;
}
